/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');



#myimg2 { 
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter:         drop-shadow(2px 2px 2px #222); 
}


#myyImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myimg:hover {opacity: 0.7;}

#myyImg:hover {opacity: 0.7;}

#mainimage {  
background-image: url('../images/ecrit5.jpg');
background-attachment: local;
}

#sidebar .jumbotron {
    padding: 22px 24px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

#sidebar h5 {
    font-size: 1.2em;
    line-height: 1.4;
}

#sidebar a {
    font-size: 1.05em;
}

#sidebar .brand img {
    width: 140px;
    height: auto;
}

.sidebar-tagline {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #DDDDDD;
  margin-top: -8px;
  margin-bottom: 18px;
}


.navbar-tagline {
  font-size: 13px;
  margin: 0;
  margin-top: -5px;
  color: #555;
}


foo {
    padding: 0 40px 0 10px;
}

.shadow {text-shadow: 2px 2px 4px #000000;
}


h1 {
    text-shadow: 2px 2px 4px #000000;
}

.btn-custom {
white-space: normal;
padding: 3px 15px;
margin-top: 3px;
  background-color: hsl(0, 0%, 91%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#e8e8e8");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8));
  background-image: -moz-linear-gradient(top, #fcfcfc, #e8e8e8);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e8e8e8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #e8e8e8);
  background-image: -o-linear-gradient(top, #fcfcfc, #e8e8e8);
  background-image: linear-gradient(#fcfcfc, #e8e8e8);
  border-color: #e8e8e8 #e8e8e8 hsl(0, 0%, 89%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {opacity: 0.7;
    filter: alpha(opacity=50); color: #BDBDBD;background-color: #BDBDBD;border-color:#BDBDBD;}


/*******************/
/* custom template */
/*******************/

html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}


.wrapper {
    position: relative;
    height: 100vh;
}

.wrapper, .row {
width:100%;
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('tableau_orianne.jpeg');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

#main {
    background-color:white;
}

#myimg { 
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter:         drop-shadow(2px 2px 2px #222); 
}
/********************/
/* circle images CV */
/********************/

#mainimage .img-circle {
  height:70px;
  width:70px;
}

.centerimage{
    height : 70px;
    display : table-cell;
    vertical-align : middle;
    float:none;
}

/****************/
/* style titles */
/****************/

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.page-header {
  margin-top: 25px;
  padding-top: 9px;
  border-top:1px solid #A0A0A0  ;
border-bottom:1px solid #A0A0A0  ;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

/***************/
/* color links */
/***************/

a {
  color:#2f5cb6;
}

#sidebar, #sidebar a {
    color:#90b2f5;
    background-color:transparent;
}


/***********************/
/* bootstrap overrides */
/***********************/


.jumbotron {
position: absolute;
    margin-left:30px;
    top: 47%;
-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  background-color:transparent;
}

.label-default {
  background-color:#dddddd;
}


.col-sm-9.full {
    width: 100%;
}

/****************************/
/* remove dots around links */
/****************************/


a, a:active, a:focus {
outline: none;
}

.site-footer {
    position: fixed;
    right: 10px;
    bottom: 6px;
    font-size: 11px;
    color: #777777;
    z-index: 2;
}

.site-footer a {
    color: #777777;
    text-decoration: underline;
}


/***********/
/** modal **/
/***********/

 /* Style the Image Used to Trigger the Modal */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    position: relative;
    background-color: white;
    margin:auto;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    border: 0px solid #888;
    width: 70%;
    border-radius: 15px 15px 0px 0px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}

.modal-footer {
        position: relative;
    background-color:  	#E0E0E0;
border-radius: 0px 0px 15px 15px;
margin:auto;
    padding-left:40px;
    padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
    border: 0px solid #888;
    width: 70%;
    text-align:center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
}

/* Add Animation - Zoom in the Modal */
.modal-content, .modal-footer{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*********************/
/* The Close Buttons */
/*********************/

.close{
    position: absolute; top: 15px; right: 35px; color: #585858; font-size: 40px; font-weight: bold; transition: 0.3s;}
.close:hover,.close:focus { color: #E6E6E6; text-decoration: none; cursor: pointer;}

