---
---
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Webpage of Orianne Debeaupuis</title>
    <meta content="Homepage of Orianne Debeaupuis" name="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Debeaupuis, Orianne Debeaupuis, Immunology, Data Science, Bioinformatics"
      name="Keywords"
      lang="eng">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    {% include menu-navbar.html active="publi" %}
    <div class="wrapper">
      <div class="box">
        <!-- main -->
        <div class="column col-sm-8" id="mainimage">
          <!-- articles -->
          <div class="padding">
            <h3 style="text-align: center;">Publications</h3>
            
            <!-- Peer-reviewed articles -->
            <div class="col-sm-12" id="peer-reviewed">
              <div class="page-header text-muted"> Peer-reviewed articles </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br> [2026] <b>ResearchArena-CayleyBench: RL/LLM Benchmark challenges which can advance mathematical research.</b><br>
                <span style="font-style: italic;">AAAI 2026, AI4Research</span>, Singapore, Singapore.

                <br><br> [2025] <b>CayleyPy Growth: Efficient growth computations and hundreds of new conjectures on Cayley graphs.</b><br>
                with A. Chervov, D. Fedoriaka, E. Konstantinova, A. Naumov, ..., O. Debeaupuis, ..., et al. <span style="font-style: italic;">Workshop on Mathematical Reasoning and AI at NeurIPS</span>, 2025.

                <br><br> [2025] <b>Hierarchical biomarker thresholding: a model-agnostic framework for stability.</b><br>
                <b>O. Debeaupuis</b>. <span style="font-style: italic;">arXiv preprint arXiv:2511.18030</span>, 2025.

                <br><br> [2025] <b>CayleyPy Growth: Efficient growth computations and hundreds of new conjectures on Cayley graphs (Brief version).</b><br>
                with A. Chervov, et al. <span style="font-style: italic;">arXiv preprint arXiv:2509.19162</span>, 2025.

                <br><br> [2025] <b>CausalCCC: a web server to explore intracellular causal pathways enabling cell--cell communication.</b><br>
                with <b>O. Debeaupuis<sup>†</sup></b>, L. Dupuis<sup>†</sup>, F. Simon, H. Isambert. <span style="font-style: italic;">Nucleic Acids Research</span>, 2025.
                
                <br><br> [2025] <b>In silico modeling guides identification of novel JAK1 variants associated with immune dysregulation.</b><br>
                with <b>O. Debeaupuis<sup>†</sup></b>, M. Jeanpierre<sup>†</sup>, et al. <span style="font-style: italic;">EMBO Molecular Medicine</span>, 17(12):3275, 2025.
                
                <br><br> [2025] <b>Whole exome sequencing in children with autoimmune hepatitis identified mutations in genes involved in the mTORC1 signaling pathway.</b><br>
                with L.P. Gaigne, C. Besnard, <b>O. Debeaupuis</b>, et al. <span style="font-style: italic;">Gastro Hep Advances</span>, 100808, 2025.

                <br><br> [2025] <b>Inflammatory disorders in IDH-mutated myeloid neoplasms: characteristics and response to IDH inhibitors.</b><br>
                with R. Stammler, <b>O. Debeaupuis<sup>*</sup></b>, P. Chen<sup>*</sup>, et al. <span style="font-style: italic;">HemaSphere</span>, 9(11):e70256, 2025.
                
                <br><br> [2019] <b>Biology of RNA surveillance in development and disease.</b><br>
                with B. Laffleur, U. Basu, et al. <span style="font-style: italic;">Trends in cell biology</span>, 29 (5), 428-445, 2019.

                <br><br> [2017] <b>B cell intrinsic mechanisms constraining IgE memory.</b><br>
                with B. Laffleur, <b>O. Debeaupuis</b>, Z. Dalloul, M. Cogné. <span style="font-style: italic;">Frontiers in Immunology</span>, 8:1277, 2017.
                
                <br><br> [2016] <b>Repair mechanisms of DNA interstrand cross-link in <i>Escherichia coli</i> MDS42 induced by the alkylating agent SJG-136.</b><br>
                with <b>O. Debeaupuis</b>, M. Gottesman. <span style="font-style: italic;">Columbia Medical Center Archives</span>, 2016.
              </div>
            </div>


            <!-- Thesis -->
            <div class="col-sm-12" id="thesis">
              <div class="page-header text-muted"> Thesis </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br> [2025] <b>Causal inference for reliable biomarker discovery with applications to cancer and autoimmune interactions.</b><br>
                <b>O. Debeaupuis</b>. <span style="font-style: italic;">PhD thesis, Université Paris Cité</span>, 2025.
              </div>
            </div>
            
             <!-- Selected conferences -->
             <div class="col-sm-12" id="presentations">
              <div class="page-header text-muted"> Selected conferences, presentations & posters </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br><br> [2026] <b>Recurrent somatic mutations in KRAS drive a specific autoinflammatory phenotype associated with myeloid neoplasms</b><br>
                 Presentation. <span style="font-style: italic;">EULAR 2026 (to come)</span>, London, United Kingdom.
                 
                <br><br> [2026] <b>ResearchArena-CayleyBench: RL/LLM Benchmark challenges which can advance mathematical research.</b><br>
                 <span style="font-style: italic;">AAAI 2026, AI4Research</span>, Singapore, Singapore.
                
                 
                 <br><br> [2025] <b>Efficacy and tolerability of avapritinib in indolent systemic mastocytosis: first results from the French AIMS real-world study.</b><br>
                 Presentation. <span style="font-style: italic;">EAACI 2025</span>, Glasgow, Scotland.
                 

                 <br><br> [2025] <b>CayleyPy Growth: Efficient growth computations and hundreds of new conjectures on Cayley graphs.</b><br>
                 Poster. <span style="font-style: italic;">NeurIPS 2025, MATH-AI</span>, San Diego, USA.
                 
                 <br><br> [2025] <b>Inflammatory rheumatological manifestations associated with IDH-mutated myeloid neoplasms effectively treated with IDH inhibitors.</b><br>
                 Oral presentation. <span style="font-style: italic;">EULAR 2025</span>, Barcelone, Spain.
                
                <br><br> [2025] <b>Roundtable participant.</b><br>
                <span style="font-style: italic;">ECNM 2025</span>,  London, United Kingdom.
                 

                 <br><br> [2025] <b>Biomarqueur des neutrophiles circulants dans le diagnostique de l'artérite à cellules géantes (ACG).</b><br>
                 Oral presentation. <span style="font-style: italic;">SNFMI 2025</span>, Nancy, France.
                 
                 <br><br> [2025] <b>T cell fate: causal network reconstruction and dynamic modeling for personalized patient care.</b><br>
                 Oral presentation. <span style="font-style: italic;">IT2025 – Immunotherapies Congress</span>, La Havana, Cuba.
                 
                 <br><br> [2024] <b>Characterization of novel JAK1 gain-of-function variants: implications for personalized JAK inhibitor therapy.</b><br>
                 Oral presentation. <span style="font-style: italic;">ESID 2024 – European Society for Immunodeficiencies</span>, France.
                 
                 <br><br> [2024] <b>Functional analysis of JAK1 GOF mutations.</b><br>
                 Seminar. <span style="font-style: italic;">Pierre Royer Seminar Series</span>, France.
                
                 <br> [2025] <b>Caractéristiques cliniques, immunologiques, pronostiques et thérapeutiques des hémopathies myéloïdes mutées IDH avec manifestations systémiques inflammatoires.</b><br>
                 with R. Stammler, P. Chen, <b>O. Debeaupuis</b>, et al. <span style="font-style: italic;">La Revue de Médecine Interne</span>, 46:A115--A116, 2025.
                 
                 <br><br> [2023] <b>Identification des mutations somatiques et analyse des mécanismes immunologiques au cours des manifestations auto-immunes associées aux leucémies.</b><br>
                 with A. Le Pogam, <b>O. Debeaupuis</b>, et al. <span style="font-style: italic;">La Revue de Médecine Interne</span>, 44:A354, 2023.
                 
                 <br><br> [2023] <b>Caractérisation immunologique des manifestations auto-immunes et inflammatoires associées aux syndromes myélodysplasiques.</b><br>
                 with C. Etienne, <b>O. Debeaupuis</b>, et al. <span style="font-style: italic;">La Revue de Médecine Interne</span>, 44:A355, 2023.

                 <br><br> [2023] <b>Roundtable participant.</b><br>
                 <span style="font-style: italic;">WiML Workshop @ NeurIPS in Paris</span>, Paris, France.
                 
              
                 <br><br> [2023] <b>Ranking DEGs by calculation condition on a target class.</b><br>
                 Poster. <span style="font-style: italic;">Bonn Mathematical Life Science Conference</span>, Germany.
                 
                 <br><br> [2022] <b>Predicting leukemic transition in RAS-mutated JMML.</b><br>
                 Poster. <span style="font-style: italic;">YRLS Congress</span>, France.
                 
                 <br><br> [2021] <b>Investigating cytoplasmic RNA heteroduplexes in yeast.</b><br>
                 Short talk. <span style="font-style: italic;">Institut Pasteur RNA Biology Series</span>, France.
                 
                 <br><br> [2016] <b>UrvD at play in post-ICL recombination in E. coli.</b><br>
                 Poster. <span style="font-style: italic;">Columbia University Medical Center retreat</span>, USA.
              </div>
            </div>

            <!-- closing the div of main --> </div>
        </div>
        <!------------->
        <!-- sidebar -->
        <!------------->
        <div class="column col-sm-4 hidden-xs hidden-sm" id="sidebar">
          {% include menu-sidebar.html active="publi" %}
        </div>
        <!-- script references -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="js/accordeon.js"></script>
        <script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39785723-1']);
  _gaq.push(['_trackPageview']);
 (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
        <script type="text/x-mathjax-config"> MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <!-- closing box wrapper row --> </div>
    </div>
    {% include footer.html %}
  </body>
</html>
