---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Supervision - Orianne Debeaupuis</title>
    <meta content="Supervision and teaching - Orianne Debeaupuis" name="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Debeaupuis, Orianne Debeaupuis, supervision, teaching, haematology, immunology"
      name="Keywords"
      lang="eng">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    {% include menu-navbar.html active="supervision" %}
    <div class="wrapper">
      <div class="box">
        <!-- main -->
        <div class="column col-sm-8" id="mainimage">
          <div class="padding">
            <h3 style="text-align: center;">Supervision &amp; Teaching</h3>
            <br>
            <!-- PhD supervision -->
            <div class="col-sm-12">
              <div class="page-header text-muted">PhD supervision</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ul>
                  <li>V. Michel [MD, PhD student] : 2022 &ndash;</li>
                </ul>
              </div>
            </div>

            <!-- Teachings -->
            <div class="col-sm-12">
              <div class="page-header text-muted">Teachings</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>

          </div>
        </div>
        <!------------->
        <!-- sidebar -->
        <!------------->
        <div class="column col-sm-4 hidden-xs hidden-sm" id="sidebar">
          {% include menu-sidebar.html active="supervision" %}
        </div>
        <!-- script references -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="js/accordeon.js"></script>
        <!-- closing box wrapper row -->
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
