---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Teaching - Orianne Debeaupuis</title>
    <meta content="Teaching and supervision - Orianne Debeaupuis" name="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Debeaupuis, Orianne Debeaupuis, teaching, supervision, haematology, immunology"
      name="Keywords"
      lang="eng">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    {% include menu-navbar.html active="teaching" %}
    <div class="wrapper">
      <div class="box">
        <!-- main -->
        <div class="column col-sm-8" id="mainimage">
          <div class="padding">
            <h3 style="text-align: center;">Teaching</h3>
            <br>
            <div class="col-sm-12">
              <div class="page-header text-muted">PhD supervision</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ul>
                  <li>V. Michel [MD, PhD student] : 2022 &ndash;. Co-supervisor with A. Mag&eacute;rus, CR-HDR.</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="page-header text-muted">Teaching</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ul>
                  <li>[2026-2027] Mathematics for Quantitative Social Sciences, Sciences Po Paris (Paris, France).</li>
                  <li>[2025] Teaching Assistant for IMMALIS Master 2 students, &Eacute;cole Normale Sup&eacute;rieure (Paris, France).</li>
                  <li>[&nbsp;&nbsp;&nbsp;&nbsp;]</li>
                  <li>[&nbsp;&nbsp;&nbsp;&nbsp;]</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!------------->
        <!-- sidebar -->
        <!------------->
        <div class="column col-sm-4 hidden-xs hidden-sm" id="sidebar">
          {% include menu-sidebar.html active="teaching" %}
        </div>
        <!-- script references -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="js/accordeon.js"></script>
        <!-- closing box wrapper row -->
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
