<div class="jumbotron">
  <h5><font size="5" color="#FFFFFF" class="sidebar-name">Orianne Debeaupuis PharmD, PhD, X19 </font></h5>
  <h5>
  <font size="5" color="#FFFFFF" class="sidebar-name">
    Orianne Debeaupuis PharmD, PhD, X19
  </font>
</h5>

<p class="sidebar-tagline">
  Clinician-scientist in haematology bridging clinical medicine, translational research, and analytical modeling.
</p>

  <br>
  <h5>
    <a href="CV_Kings-3.pdf"> <font size="3">CV</font></a>
    &nbsp; <font size="3" color="#FFFFFF">|</font>&nbsp;
    <a href="https://orcid.org/0000-0002-1393-3980" target="orcid.widget" rel="me noopener noreferrer">ORCID</a>
    &nbsp; <font size="3" color="#FFFFFF">|</font>&nbsp;
    <a href="https://scholar.google.com/citations?user=BOECoQ8AAAAJ&amp;hl=fr&amp;oi=ao" target="_blank" rel="noopener">Google Scholar</a>
  </h5>
  {% if include.active == "publi" %}
  <h5><font size="3" color="#FFFFFF">Publications</font></h5>
  {% else %}
  <a href="publi.html">
    <h5><font size="3">Publications</font></h5>
  </a>
  {% endif %}
  {% if include.active == "contact" %}
  <h5><font size="3" color="#FFFFFF">Contact</font></h5>
  {% else %}
  <a href="contact.html">
    <h5><font size="3">Contact</font></h5>
  </a>
  {% endif %}
  {% if include.active == "tools" %}
  <h5><font size="3" color="#FFFFFF">Tools</font></h5>
  {% else %}
  <a href="tools.html">
    <h5><font size="3">Tools</font></h5>
  </a>
  {% endif %}
  <br><br>
  <a class="brand" href="https://www.institutimagine.org" style="display: inline-block; line-height: 0;"><img style="border: 0px solid; width: 120px; display: block;" loading="lazy"
    alt="logo Institut Imagine"
    src="images/logo-institut-imagine_0.png"></a>
  <a class="brand" href="https://institut-curie.org/" style="display: inline-block; line-height: 0;"> <img style="border: 0px solid; width: 120px; height: 120px; display: block;" loading="lazy"
    alt="logo Institut Curie"
    src="images/logo-curie.png"></a>
  <a class="brand" href="https://psl.eu/en" style="display: inline-block; line-height: 0;"> <img style="border: 0px solid; height: 120px; display: block;" loading="lazy"
  alt="logo Universite de Paris"
  src="images/logo-psl.png"></a>
  <a class="brand" href="https://u-paris.fr/" style="display: inline-block; line-height: 0;"> <img style="border: 0px solid; height: 120px; display: block;" loading="lazy"
  alt="logo Universite de Paris"
  src="images/logo-u-paris.png"></a>
</div>
